
.navbar {
    margin-bottom: 30px;
  }

.clickable{
    cursor: pointer;
  }

  .align-self-start {
    height: 5rem;  
  }
  
  .card {
    width: 16rem;  
  }  
  

.home-card {
  width: 100%;
  max-height: 10rem;
}

.place {
  width: 100%; 
}

tbody img {
  width: 5rem;
}

